* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #171b22;
	color: #c9d1d9;
	font-size: 1rem;
}

a {
	transition: 0.3s;
}

a:link,
a:visited {
	color: #59a6ff;
	text-decoration: none;
}

a:focus,
.focus a {
	outline: none !important;
}

a:hover {
	color: white;
	transition: 0.3s;
}

img {
	max-width: 100%;
	height: auto;
}

#pic {
	padding-top: 30px;
	padding-bottom: 10px;
}

#prof-pic {
	width: 300px;
	border-radius: 50%;
	border: 3px solid #0a0a0a;
	transition: 0.3s;
}

#prof-pic:hover {
	border: 3px solid #555555;
	transition: 0.3s;
}

#title {
	font-size: 1.2rem;
	font-weight: 500;
	padding-bottom: 0.8rem;
}

#resume-page {
	background-color: white;
	width: 60%;
	min-width: 500px;
	max-width: 1500px;
	height: 100%;
	margin: auto;
	margin-bottom: 2rem;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	user-select: none;
}

#resume-page-inner {
	width: 96%;
	margin: auto;
}

#resume-page-inner a {
	color: black;
}

#resume-page-inner a:hover {
	text-decoration: underline;
}

#resume-page-inner h1 {
	font-size: 1.75rem;
}

#resume-page-inner h2 {
	font-size: 1.25rem;
}

#resume-page-inner ul {
	padding-left: 1.2rem;
}

#resume-page-inner li {
	padding-left: 1rem;
}

.resume-indent-1 {
	margin-left: 2rem !important;
}

.resume-indent-2 {
	margin-left: 4rem !important;
}

.container-outer {
	display: flex;
	background-color: #0d1117;
	margin: auto;
	max-width: 1400px;
}

.container-inner {
	background-color: #0d1117;
	width: 90%;
	margin: auto;
	padding-bottom: 40px;
}

.row {
	display: flex;
	margin: auto;
	padding-top: 16px;
	width: 90%;
}

.column {
	height: 248px;
	flex: 50%;
	text-align: center;
}

.centered {
	text-align: center;
}

.centered-vertically {
	height: inherit;
	display: table-cell;
	vertical-align: middle;
}

.section {
	padding-top: 3rem;
}

.absolute-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.btn {
	border: 2px solid #0a0a0a;
	transition: 0.3s;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
}

.btn:hover {
	border: 2px solid #555555;
	transition: 0.3s;
}

.project-img {
	width: fit-content;
	border-radius: 4px;
	border: 3px solid #0a0a0a;
	transition: 0.3s;
}

.project-img:hover {
	border: 3px solid #555555;
	transition: 0.3s;
}

.vert-flex {
	height: fit-content;
}

.muted {
	color: #888888;
}

@media (max-width: 1000px) {
	body {
		font-size: 14px;
	}
	.container-outer {
		width: 100%;
	}
}

@media (min-width: 1001px) {
	body {
		font-size: 16px;
	}
	.container-outer {
		width: 70%;
	}
}

@media (max-width: 400px) {
	.project-img {
		min-width: 200px;
	}
}

@media (min-width: 401px) {
	.project-img {
		min-width: 390px;
	}
}

@media (max-width: 1200px) {
	#resume-page {
		width: 100%;
	}
}

@media (min-width: 1201px) {
	#resume-page {
		width: 70%;
	}
}
