* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: #171b22;
	color: #c9d1d9;
	font-size: 1rem;
	overflow-x: hidden;
}

a {
	transition: 0.25s;
	color: #59a6ff;
}

a:link,
a:visited {
	color: #59a6ff;
	text-decoration: none;
}

a:focus,
.focus a {
	color: white;
	outline: none !important;
}

a:hover {
	color: white;
	transition: 0.25s;
	cursor: pointer;
}

p {
	line-height: 1.5rem;
}

.title {
	font-size: 2.75rem;
}

.subtitle {
	font-size: 1.25rem;
}

.page-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	min-width: 380px;
}

.page-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #0d1117;
	padding: 3rem 2rem 3rem 2rem;
	height: 100%;
	min-height: 100vh;
	max-width: 80rem;
	width: 100%;
}

.section-title {
	font-size: 2rem;
}

.prof-pic {
	border-radius: 50%;
	border: 2px solid #30363d;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.muted {
	color: #888888;
}

.resume {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	color: #000000;
	border-radius: 0.25rem;
	padding: 1rem;
	line-height: 1.35rem;
}

.resume-name {
	font-size: 1.75rem;
	font-weight: bold;
}

.resume-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	row-gap: 0.25rem;
	column-gap: 1.75rem;
	flex-wrap: wrap;
}

.resume-link {
	color: black !important;
}

.resume-link:hover {
	text-decoration: underline;
}

.resume-section-title {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.25rem;
}

.divider {
	user-select: none;
}

.project {
	display: flex;
	align-items: center;
}

.project-about {
	width: 390px;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.project-name {
	font-size: 1.5rem;
}

.project-img {
	border-radius: 0.25rem;
}

.project-img:hover {
	outline: 3px solid #30363d;
}

.flex-center {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media print {
	@page {
		margin: 0;
		margin-top: -3rem;
		size: portrait;
	}
	.page-content {
		padding: 0;
	}

	div .no-print {
		display: none;
	}
}
